name: black

on:
  push:
  pull_request:
  workflow_dispatch: # Allows manual triggering


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
